Source: ros-humble-as2-platform-behaviors
Section: misc
Priority: optional
Maintainer: Computer Vision And Aerial Robotics Group (UPM) <cvar.upm3@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-as2-behavior, ros-humble-builtin-interfaces, ros-humble-rclcpp, ros-humble-rclcpp-action, ros-humble-rosidl-default-generators, ros-humble-ros-workspace, ros-humble-rosidl-typesupport-fastrtps-c, ros-humble-rosidl-typesupport-fastrtps-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-as2-platform-behaviors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-as2-behavior, ros-humble-builtin-interfaces, ros-humble-rclcpp, ros-humble-rclcpp-action, ros-humble-rosidl-default-runtime, ros-humble-ros-workspace
Description: Aerostack2 core package which contains launchers for the basic behaviours
